<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Berbix Doc Scan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <link rel="icon" type="image/png" href="/static/images/favicon.png" /> -->
    <link href="https://assets.website-files.com/61cb31cd43a7561620d4ae8d/61fc12afb2dfe3c179349308_favicon-berbix-1.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://assets.website-files.com/61cb31cd43a7561620d4ae8d/61fc12b109325158e4b25925_favicon-berbix-2.png" rel="apple-touch-icon">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light header fixed-top">
        <!-- <a href="/" class="navbar-brand">
            <img src="/static/images/logo.svg" height="30" class="d-inline-block align-top mr-2">
            Doc Scan
        </a> -->
        <div class="container">
            <a href="javascript:void(0)" class="navbar-brand">
                <h2 class="logo">Paays</h2>
            </a>
            <form class="form-inline">
                <!-- <span>Talk to an auto finance specialist</span> -->
                <!-- <button class="btn white-outlnie-btn" type="submit">1-888-555-1234</button> -->
            </form>
        </div>

    </nav>

    <%- include('footer'); -%>

    </div>