<%- include('layout/header'); -%>
    <div class="container">
        <div class="row pt-4">
            <div class="col text-center">
                <img src="/static/images/paays-logo.png" alt="logo" width="100" class="mx-auto">
                <p class="py-3 text-underline"> <b> Paays Privacy Policy</b></p>
            </div>
            <div class="col-sm-12">
                <p class="font-weight-medium">Last update: January 31, 2022</p>
                <p class="font-weight-regular">
                    This is the privacy policy (“<b> Policy</b>”) for Paays Financial
                    Technologies Inc. (“<b>Paays</b>”, “we”, “us” or “our”). It outlines
                    what personal information is collected by Paays, including from
                    individuals who interact with the PreQ pre-qualification and PreQ ID
                    Verifier applications (the <b> “Apps” </b>), and the PreQ website at
                    <b>www.PreQ.ai</b> (the “<b>Website”</b>) (the Apps and Website
                    referred to collectively as the “Platform”), how that information may
                    be used, and with whom it may be shared.
                </p>
                <p>
                    By visiting the Platform or providing us with personal information you
                    consent to Paays collecting, storing, using and disclosing your
                    personal information in accordance with the terms of this Policy.
                    Updates to the Policy will be posted on the Website.
                </p>
                <p>
                    The Paays Website is made available for, and intended for use by,
                    Canadian residents only. If you are not a resident of Canada, you may
                    not apply for Paays services.
                </p>
                <p class="text-underline">
                    <b>
                        If you do not agree with the terms of this Policy, do not access the
                        Website or provide us with personal information. If you are under
                        the age of majority in the province where you reside, you may not
                        use the Platform or our services or submit personal information to
                        Paays. By creating an Account you are consenting to and agree to be
                        bound by the terms of this Policy.</b>
                </p>
                <p class="text-underline">1. Consent</p>
                <p>
                    By providing Paays with your personal information, you consent to the
                    collection, use, disclosure and retention of that information by Paays
                    in accordance with this Privacy Policy and as otherwise permitted by
                    applicable law. You may withdraw your consent at any time, subject to
                    legal or contractual restrictions and on reasonable notice to Paays,
                    but then you might not be able to proceed with your intended
                    interactions or transactions with Paays or otherwise receive the full
                    benefit of Paays’s products and services.
                </p>
                <p class="text-underline">2. Data Collected</p>
                <p>
                    Paays collects information about you as an identifiable individual
                    (“Personal Information”) when you engage with the Platform.
                </p>
                <p>
                    Paays may also collect information about your interactions with us on
                    the Platform, such as transactions on your Account.
                </p>
                <p>
                    Paays may also collect information from third party sources with your
                    consent, such as credit reporting agencies and from other technology
                    partners to verify the information provided by you.
                </p>
                <p class="text-underline">
                    3. Personal Information: Collection, Retention and Use
                </p>
                <p>
                    The type of Personal Information that Paays collects depends on the
                    nature of your interaction with us but may include:
                </p>
                <ul>
                    <li>
                        <b class="pr-2"> • </b> your name, address, telephone number, and
                        email address; <b class="pr-2"> • </b> Country of residence, whether
                        your rent or own your home, household income, and employment status
                    </li>
                    <li>
                        <b class="pr-2"> • </b> Vehicle information, which may include the
                        vehicle you currently finance and/or vehicle that you are looking to
                        purchase
                    </li>
                    <li>
                        <b class="pr-2"> • </b> A digital copy of your Canadian provincial
                        or territorial driver’s license 1
                    </li>
                    <li>
                        <b class="pr-2"> • </b> Social Insurance Number (if you choose to
                        provide it) and date of birth
                    </li>
                    <li>
                        <b class="pr-2"> • </b> Information about the products or service
                        you are financing and your transactions made with merchants through
                        the Account
                    </li>
                    <li>
                        <b class="pr-2"> • </b> Credit score and credit history provided by
                        a credit bureau (TransUnion or Equifax)
                    </li>
                    <li>
                        <b class="pr-2"> • </b> Social information (if you connect through
                        Facebook or Google Plus)
                    </li>
                </ul>
                <p>
                    Personal Information is used by Paays to register you to receive
                    information about the Paays Platform, process your application for a
                    pre-qualification of a car loan, verify your identity and the
                    information provided in your application and your current and ongoing
                    creditworthiness, create, maintain, collect on and enforce your
                    account, populate and maintain your profile, including your personal
                    preferences, and provide information to you or otherwise communicate
                    with you for each of these purposes.
                </p>
                <p>
                    Personal Information is also used by Paays for customer service and
                    marketing purposes, including to let you know of new products and
                    services, and notify you of any special offers. You may opt-out of
                    email- based marketing communications at any time by sending an email
                    with “Unsubscribe” to the email address provided in the marketing
                    communication. You may opt-out of receiving special merchant offers in
                    the Paays mobile app by disabling “Receive merchant offers” in the
                    account profile menu of the Paays App.
                </p>
                <p>
                    To help establish your identity, Paays has partnered with Berbix Limited
                    (Berbix USA Inc in the USA) to check your identity. When you submit your
                    ID document Berbix extracts data from it. If you are asked to submit a
                    selfie then Berbix uses biometric technology to check that the selfie is
                    of a real person and that your selfie matches the photo on the ID
                    document. Berbix then sends us the results of the checks. Berbix does not
                    do anything else with the data and Berbix deletes it after 7 days. We
                    keep the data for as long as you have an account with us.
                </p>
                <p class="text-underline">4. Information Collected Automatically</p>
                <p>
                    When you visit or interact with the Website certain information is
                    collected automatically through cookies or similarly purposed
                    technologies, including technical and statistical information such as
                    your IP address, your location based on your IP address, mobile device
                    identifiers, operating system, and page views and duration.
                </p>
                <p>
                    This primary use of this information by Paays is to detect and reduce
                    instances of fraud or organized DDOS attacks against the Platform. The
                    information collected may also be used by Paays for its business
                    operations and planning, including the operation and improvements to
                    the Site and App, debugging, product research, evaluation and
                    development.
                </p>
                <p>
                    1 Applies only to PreQ ID Verifier. Use of PreQ ID Verifier is through
                    an integration with our verification partners
                    <a href="#" class="text-underline"><b> Berbix</b> </a>. In addition to
                    consenting to the Paays Privacy Policy, each user of PreQ ID Verifier
                    also consents to Berbix’s
                    <a href="#" class="text-underline"> <b> Privacy Policy</b></a>. Digital copies of Driver’s Licenses
                    are stored on secure Berbix
                    servers. Berbix is AICPA SOC2 and ISO 27001 Certified, and trusted by
                    regulators for adhering to the highest standards of security.This
                    information may also be further used for online behavioural
                    advertising, re-targeting, and custom audience type marketing.
                </p>
                <p class="text-underline">5. Disclosure of your Information</p>
                <p>
                    <b> PreQ pre-qualification:</b>If you apply for pre-qualification of
                    financing through PreQ, your Personal Information will be provided to
                    specialized Paays service providers and Paays lending partners for the
                    purposes of these partners evaluating and adjudicating your
                    pre-qualification request, which may include verifying your identity,
                    creditworthiness and the accuracy of the information provided on your
                    application. <br />
                    <br />
                    If Paays refers you to an independent business (ie, a car dealer or
                    lender), for a proposed transaction (eg. Car loan), then Paays may
                    provide a part of, or all, information collected to that independent
                    business. Paays may also collect from that independent business
                    information regarding the transaction to update your confidential
                    profile for use by Paays as set out in this Privacy Policy.
                </p>
                <p>
                    Each service provider and lending partner is contractually bound with
                    Paays to keep the information that it receives confidential. If you
                    enter into a loan agreement with a lending partner, that lending
                    partner’s privacy policy will govern how the lending partner processes
                    your Personal Information.
                </p>
                <p>
                    <b>PreQ ID Verifier: </b> If you complete the PreQ ID Verifier
                    process, a verification report is sent to the Dealer Partner who
                    initiated the ID Verifier request, confirming the authenticity of your
                    identity document(s) submitted. This report may contain a digital copy
                    of your Driver’s License, along with other text-based identity
                    information, extracted and verified by PreQ ID Verifier. This
                    information is passed only to the Dealer Partner who initiated the
                    request. The Dealer Partner may pass this information on to their
                    Lender Partner(s) as part of a deal package submitted to Lender
                    Partners, through one of the auto financing portals (DealerTrack or
                    RouteOne).
                </p>
                <p>
                    Our employees, representatives and agents will have access to your
                    Personal Information as necessary in connection with their
                    responsibilities.
                </p>
                <p>
                    Paays may share your Personal Information with companies providing
                    related services to Paays, such as data hosting and processing,
                    analytics, marketing, identity verification. Some of these service
                    providers may be located outside of Canada, including the United
                    States.
                </p>
                <p>
                    Paays may share with any third party that it deems appropriate,
                    aggregate anonymized information regarding the Platform and users of
                    the Platform, such as demographic information about, and geographic
                    territory of, end users (as a group), customer preferences (as a
                    group), technical performance and usage statistics. These third
                    parties may include, for example, business partners or companies who
                    assist Paays in providing or supporting the Paays platform.
                </p>
                <p>
                    Paays may share Personal Information where permitted or required by
                    law (including as required by foreign laws applicable to Paays service
                    providers), if it believes it is required to do so in order to comply
                    with an order of a court of competent jurisdiction or other legal
                    requirements of any governmental authority, it if believes doing so
                    would potentially mitigate its liability in an actual or potential
                    lawsuit, if it believes it is necessary to protect its rights or
                    property, or if Paays sells the Site or its business to a third party.
                    Paays shares Personal Information with credit reporting agencies as
                    necessary to maintain the integrity of the credit granting system.
                </p>
                <p class="text-underline">6. Data Protection and Security</p>
                <p>
                    Paays takes your privacy and the protection of your Personal
                    Information seriously and takes commercially reasonably measures to
                    ensure its security. However, no transmission of Personal Information
                    over the Internet can be guaranteed to be uninterrupted or completely
                    secure, and accordingly Paays cannot, and does not, guarantee that
                    your Personal Information will not be unlawfully accessed by a third
                    party. PAAYS DOES NOT WARRANT THE SECURITY OF ANY INFORMATION YOU
                    TRANSMIT ELECTRONICALLY, AND YOU DO SO AT YOUR OWN RISK.
                </p>
                <p class="text-underline">7. Governing Law and Jurisdiction</p>
                <p>
                    Paays Financial Technologies Inc. is domiciled and provides its
                    services in the Province of Ontario. Consumers from countries and
                    jurisdictions outside of Canada are advised that this Policy, and the
                    collection, retention, and use of your Personal Information, shall be
                    construed in accordance with and governed by the laws of the Province
                    of Ontario and the federal laws of Canada as applicable.
                    <br /><br />
                    You are also advised that Personal Information is retained in
                    cloud-based servers which may be located in Canada, the U.S.A. and
                    other jurisdictions. The laws of these jurisdictions may offer less
                    stringent privacy and consumer rights than the jurisdiction in which
                    you reside.
                </p>
                <p class="text-underline">8. Changes to this Policy</p>
                <p>
                    Paays may revise this Policy from time to time. The updated Policy
                    will be published on the Platform, and identified by the publication
                    date. Please review the Policy frequently during your use of the
                    Platform and Paays services to ensure that you are aware of the most
                    up to date Policy.<b>
                        Your continued use of the Site or the Paays Platform following the
                        publication of an update to this Policy confirms your acceptance of
                        the then updated Policy terms.</b>
                </p>
                <p class="text-underline">9. Opting out of Marketing Communications</p>
                <p>
                    To opt-out of marketing communications please send an email with
                    “Unsubscribe” in the subject line to the email address provided in the
                    communication. To opt-out of receiving special merchant offers in the
                    Paays mobile app by disabling “Receive merchant offers” in the account
                    profile menu of the Paays mobile app.
                </p>
                <p class="text-underline">10. Your rights</p>
                <p>
                    If you have a Paays account in the App, you may close your account and
                    withdraw your consent for the collection and use of your Personal
                    Information at any time, subject to contractual and legal
                    restrictions. Paays is unable to provide the Account services without
                    your authorization to use your Personal Information in accordance with
                    this Policy. You may close your Account from within the App (under
                    “Settings”). You may also close your Account by sending an email to
                    <span class="text-underline"> paayssupport@paays.com</span>. You have
                    the right to request access to or correction of your Personal
                    Information in our custody or control by writing to us at the email
                    address below. We will take appropriate steps to verify your identity
                    before providing access or making corrections.
                </p>
                <p class="text-underline">11. Contact Paays</p>
                <p>
                    Should you have any questions regarding this Policy or the processing
                    of your data, please contact Paays’s Chief Privacy Officer at Paays
                    Financial Technologies Inc., 79 Glenview Avenue, Toronto, ON, M4R 1P7,
                    us at paayssupport@paays.com.
                </p>
                <p>© <%- new Date().getFullYear()-%> Paays Financial Technologies Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
    <%- include('layout/footer'); -%>