<%- include('layout/header'); -%>
    <div class="container mb-3">
        <!-- start sucsess page-->
        <div class="container get-start">
            <div class="col-sm-8 mx-auto">
                <h2 class="text-center title pt-5">Verification complete!</h2>
                <span class="identity-card mx-auto my-4 blue-color">
                    <i class="fa fa-check text-white"></i>
                </span>
                <div class="col-sm-7 mx-auto">
                    <p class="text-center subtitle">Congrats! You’ve successfully completed the Paays ID
                        Verifier process. </p>
                </div>
            </div>
        </div>
    </div>
    <%- include('layout/footer'); -%>